@page "/AcercaDe"

<div class="content-section">
    <h1>Acerca de Nosotros</h1>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="team-card">
            <img src="Imagenes/david.png">
            <div class="p-3">
                <h4>David Rosario</h4>
                <p>Desarrollador</p>
                <a href="https://github.com/david-o-rosario1201" target="_blank">
                    <i class="bi bi-github github-icon"></i>
                </a>
                <a href="https://www.instagram.com/david_rosario_serrano/" target="_blank">
                    <i class="bi bi-instagram instagram-icon"></i>
                </a>
                <a href="https://www.youtube.com/@@DavdOtonielRosarioSerrano" target="_blank">
                    <i class="bi bi-youtube youtube-icon"></i>
                </a>
            </div>
        </div>
        <div class="team-card">
            <img src="Imagenes/jose.png">
            <div class="p-3">
                <h4>Jos&eacute; Ortega</h4>
                <p>Desarrollador</p>
                <a href="https://github.com/Stiinger" target="_blank">
                    <i class="bi bi-github github-icon"></i>
                </a>
                <a href="https://www.instagram.com/jaos.exe/" target="_blank">
                    <i class="bi bi-instagram instagram-icon"></i>
                </a>
                <a href="https://www.youtube.com/@@ort2803" target="_blank">
                    <i class="bi bi-youtube youtube-icon"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="project-section">
        <h4>Descripci&oacute;n del proyecto</h4>
        <div class="row">
            <div class="col-md-6">
                <p>Este sistema de ventas es una solución integral diseñada para optimizar la gestión de restaurantes y bares. Permite a los propietarios administrar de manera eficiente diversas áreas de su negocio, todo desde una única plataforma fácil de usar.</p>
                <p>Con funciones avanzadas como seguimiento de ventas en tiempo real y gestión de inventario, este sistema está diseñado para simplificar y mejorar la administración de un restaurante-bar.</p>
                <p>Además de las ventas y el inventario, el sistema también ofrece la capacidad de gestionar personal, proveedores, cuentas por pagar y por cobrar, consultas de existencias y mucho más, proporcionando un control total sobre todas las operaciones del negocio.</p>
            </div>
            <div class="col-md-6">
                <div class="project-image-container">
                    <a href="https://github.com/Stiinger/ProyectoFinalSistemaVentas" target="_blank">
                        <img src="Imagenes/vendedor.png" class="img-fluid rounded project-image">
                    </a>
                    <p class="image-caption">Haz clic para ir al repositorio</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Proyecto Final</h5>
                <p>Un sistema de ventas integral para optimizar la gestión de restaurantes y bares.</p>
            </div>
            <div class="col-md-6">
                <h5>Contacto</h5>
                <p><i class="bi bi-envelope-fill"></i> Email: jose_ortega1@ucne.edu.do</p>
                <p><i class="bi bi-envelope-fill"></i> Email: david_rosario1@ucne.edu.do</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">Copyright &copy; 2024. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>

@code {
    //
}