@page "/AcercaDe"

<div class="content-section">
    <h1>Acerca de Nosotros</h1>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="team-card">
            <img src="Imagenes/david.png">
            <div class="p-3">
                <h4>David Rosario</h4>
                <p>Desarrollador</p>
            </div>
        </div>
        <div class="team-card">
            <img src="Imagenes/jose.png">
            <div class="p-3">
                <h4>Jos&eacute; Ortega</h4>
                <p>Desarrollador</p>
            </div>
        </div>
    </div>
    <div class="project-section">
        <h4>Descripci&oacute;n del proyecto</h4>
        <div class="row">
            <div class="col-md-6">
                <p>Este sistema de ventas es una solución integral diseñada para optimizar la gestión de restaurantes y bares. Permite a los propietarios administrar de manera eficiente diversas áreas de su negocio, todo desde una única plataforma fácil de usar.</p>
                <p>Con funciones avanzadas como seguimiento de ventas en tiempo real y gestión de inventario, este sistema está diseñado para simplificar y mejorar la administración de un restaurante-bar.</p>
                <p>Además de las ventas y el inventario, el sistema también ofrece la capacidad de gestionar personal, proveedores, cuentas por pagar y por cobrar, consultas de existencias y mucho más, proporcionando un control total sobre todas las operaciones del negocio.</p>
            </div>
            <div class="col-md-6">
                <img src="Imagenes/vendedor.png" class="img-fluid rounded">
            </div>
        </div>
    </div>
</div>

@code {
    //
}