.miMensaje {
    margin-top: 10px;
    text-align: center;
}

.miTabla {
    text-align: center;
}

.miFlecha {
    margin-top: 10px;
}

.mensajeError {
    color: red;
}

.custom-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.modal.fade.show .modal-dialog {
    animation: slideInDown 0.8s ease forwards;
}